@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
	height: 100%;
}

body {
    font-family: Source Sans Pro;
    margin: 0% auto;
    width: 97%;
    padding-top: 1%;
    padding-bottom: 5%;
	clear: none;
	float: none;
    min-height: 100%;
    background-color: whitesmoke;
    /*background-image: url("../Resources/3425151.jpg") ;
    background-attachment: fixed;
    background-size: cover;*/
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0.2em 3em;
    padding: 0.2em 0.4em;
    color: snow;
    background-color: #333333;
    border-radius: 84px;
}


.container {
    margin: 0% auto;
    width: 60%;
    position: relative;
}

.container-table {
    margin: 0% auto;
    width: 100%;
    position: relative;
}

fieldset {
    background-color: #333333;
    margin: 2em 15em;
    border-radius: 25px;
}

input.text{
    font-size: 25px;
    border-radius: 15px;
    width: 320px;
    margin: 0.5em 0em;
}

button {
    border-radius: 60px;
    width: 50px;
}

.icon {
    width: 30px;
}

table {
    text-align: center;
    border: 1px black solid;
    width: 100%;
    border-collapse: collapse;
}

table thead {
    color: white;
    background-color: #454545;
}

table tbody {
    color: black;
    background-color: #C0C0C0;
}

img {
    width: 75px;
    margin: 5% auto;
}

.td-img {
    width: 100px;
}

th, td {
    border: 1px black solid;
    padding: 0em 0.9em;
}

#pages-numbers a {
    text-decoration: none;
    font-size: 15px;
    border: 1px black solid;
    margin: 0.5em 0.1em;
    padding: 5px 10px;
}

#pages-numbers {
    margin: 1em 0.1em;
    text-align: center;
}

.normal, .disabled {
    color: black;
    background-color: #EEEEEE;
}

.selected {
    color: white;
    background-color: #2C3E50;
}

.normal:hover {
    color: white;
    background-color: #2C3E50;
}

.disabled:hover {
    background-color: #D5D8DC;
}

#hero_empty, #hero_unavalaible {
    font-size: 30px;
}

.hidden {
    display: none;
}